.session-form {
    opacity: .8;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('http://res.cloudinary.com/pinitt/image/upload/c_scale,w_1642/v1472660394/login_background_vaxtvm.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    z-index: 0;
}
.session-form #web-name {
  font-size: 50px;
  font-weight: strong;
}

.session-form #slogan {
  font-size: 16px;
  text-decoration: underline;
}

.login-form-box {
  display: block;
  font-size: 20px;
  padding: 20px;
  width: 450px;
  height: 350px;
  position: relative;
  box-shadow: 5px 5px 20px black;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  z-index: 999;
}

.switch-button {
  position: absolute;
  top: 20px;
  right: 40px;
  text-decoration: none;
  color: rgb(0,51,204);
}

.login-form {
  text-align: center;
  padding: 20px;
}

input.login-input {
  width: 320px;
  height: 40px;
  margin: 5px;
  padding: 10px;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.error-prompt {
  color: red;
  list-style-type: none;
}

div.login-button-box {
  margin: 10px 0 0 35px;
  float: left;
}

.login-buttons {
  width: 100px;
  margin: 0 10px 0 0;
  height: 50px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
/*
.login-buttons  {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.login-buttons:hover, .login-buttons:focus, .login-buttons:active {
  box-shadow: 0 10px 10px -10px rgba(106, 0, 228, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}*/

/* SHADOW/GLOW TRANSITIONS */
/* Glow */
.login-buttons {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.login-buttons:hover, .login-buttons:focus, .login-buttons:active {
  box-shadow: 0 0 8px rgba(0, 0, 255, 0.8);
}

input.login-button {
  background-color: rgb(59,89,152);
}
.demo-button {
  background-color: rgb(0, 153, 51);
}
