.home-container {
  position:relative;
  height: 100%;
  width: 100%;
  min-width: 560px;
  padding-left: 20px;
}
.home-container .nav-bar {

}

.home-children {
  margin-left: 50px;
}

.add-pin-button {
  color: black;
  box-shadow: 1px 1px 1px black;
  padding: 20px 20px;
  border-radius: 50%;
  border: 0;
  margin: 0;
  position: fixed;
  right: 2%;
  bottom: 9%;
  z-index: 1;
}

.plus-sign {
  position: fixed;
  right: 2%;
  bottom: 9%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  z-index: 999;
  cursor: pointer;
  border-radius: 50%;
}
.plus-sign:hover, .plus-sign:focus, .plus-sign:active {
  box-shadow: 0 0 8px rgba(0, 0, 255, 0.8);
}
.add-pin-menu {
  display:none;
  position: fixed;
  right: 6%;
  bottom: 8%;
  font-size: 16px;
  background: #fff;
  border-radius: 5%;
  border: 1px solid #ccc;
  list-style: none;
}

.greater {
  display:none;
  position: absolute;
  right: -13px;
  bottom: 10px;
}

.accessibilityText {
  font: 0 / 0 serif;
  text-shadow: none;
  color: transparent;
  position: absolute;
}

.m-fadeOut {
  display:none;
}

.m-fadeIn {
  display:block;
}

.add-pin-button:hover {
  background-color: #f5f5f5;
}

.add-pin-menu > li {
  padding: 20px;
  color: #000;
  cursor:pointer;
}

.add-pin-menu > li:hover {
  background: #eee;
}

.github {
  color: black;
  box-shadow: 1px 1px 1px black;
  padding: 20px 20px;
  border-radius: 50%;
  border: 0;
  margin: 0;
  position: fixed;
  right: 2%;
  bottom: 3%;
  z-index: 1;
}

.git-image {
  position: fixed;
  right: 2%;
  bottom: 3%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  z-index: 999;
  cursor: pointer;
  border-radius: 50%;
}
.git-image:hover, .git-image:focus, .git-image:active {
  box-shadow: 0 0 8px rgba(0, 0, 255, 0.8);
}

.modal-input {
  display: block;
  width: 100%;
  line-height: 1.66;
  color: rgb(85,85,85);
  box-shadow: rgba(0,0,0,0.07) 0px 1px 1px inset;
  border-style: solid;
  border-color: rgb(204,204,204);
  border-width: 1px;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin:15px 0 5px 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 5px;
}

.modal-input:focus, .modal-input:active {
  box-shadow: 0 0 8px rgba(0, 0, 255, 0.8);
}

.modal-form .modal-label-text {
  margin:5px 0 5px 0;
}

.modal-form .description-input {
  margin-top: 10px;
  height: auto;
}

.modal-form .modal-board-select {
  height: 30px;
}

.modal-form .modal-save-button-box {
  margin: 10px auto;
  float: right;
}

.modal-form .modal-save-button {
  width: 100px;
  height: 50px;
  border-radius: 4px;
  color: white;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(189,8,28);
}

.new-pin-image-area .image-container {
  overflow-y: scroll;
  height: 100%;
}

.new-pin-image-area {
  position: relative;
  display: block;
  width: 286px;
  height: 286px;
  border: 2px;
  border-style:dashed;
  border-radius: 4px;
  background-color: rgb(239,239,239);
  box-sizing: content-box;
}

.new-pin-image-area .background-image {
  position: absolute;
  top: 40%;
  left: 35%;
}

.new-pin-image-area .pin-upload-image-unchecked {
  opacity: 1;
}

.new-pin-image-area .pin-upload-image-checked {
  opacity: 0.6;
}
