.home-container {
  position:relative;
  height: 100%;
  width: 100%;
  min-width: 560px;
  padding-left: 20px;
}


.add-pin-button {
  color: black;
  box-shadow: 1px 1px 1px black;
  padding: 12.5px 13px;
  border-radius: 50%;
  border: 0;
  margin: 0;
  position: absolute;
  bottom: 60px;
  right: 55px;
  z-index: 1;
}

.plus-sign {
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  z-index: 999;
}

.add-pin-menu {
  display:none;
  position: absolute;
  right: 120px;
  bottom: 60px;
  font-size: 16px;
  background: #fff;
  border-radius: 5%;
  border: 1px solid #ccc;
  list-style: none;
}

.greater {
  display:none;
  position: absolute;
  right: 107px;
  bottom: 75px;
}

.accessibilityText {
  font: 0 / 0 serif;
  text-shadow: none;
  color: transparent;
  position: absolute;
}

.m-fadeOut {
  display:none;
}

.m-fadeIn {
  display:block;
}

.add-pin-button:hover {
  background-color: #f5f5f5;
}

.add-pin-menu > li {
  padding: 20px;
  color: #000;
  cursor:pointer;
}

.add-pin-menu > li:hover {
  background: #eee;
}

.modal-form .modal-input {
  display: block;
  width: 100%;
  line-height: 1.44;
  color: rgb(85,85,85);
  box-shadow: rgba(0,0,0,0.07) 0px 1px 1px inset;
  border-style: solid;
  border-color: rgb(204,204,204);
  border-width: 1px;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin:5px 0 5px 0;
}
.modal-form .modal-label-text {
  margin:5px 0 5px 0;
}
.modal-form .description-input {
  height: auto;
}

.modal-form .modal-save-button-box {
  margin: 10px 0 0 35px;
  float: right;
}

.modal-form .modal-save-button {
  width: 100px;
  margin: 0 10px 0 0;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: rgb(189,8,28);
}
