.logo {
  width: 50px;
  height: 50px;
}

.nav-container {
  display: flex;
  flex-shrink: 2;
  width: 100%;
}

.nav-container .all-containers {
  display: block;
  margin: 10px 10px 10px 10px;
  vertical-align: top;
  float: left;
}

.logo-container {

}

.search-container {
  min-width: 200px;
  width:100%;
}

.profile-container {
  min-width: 200px;
  display: flex;
  float: left;
}

.profile-link {
  width: 50px;
  height: 50px;
  padding: 0 20px;
  cursor:pointer;
}

.logout-button {
  width: 70px;
  margin: 0 10px 0 0;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(59,89,152);
  text-align: center;
  color: white;
  cursor:pointer;
}

.search-bar {
  float: top;
  padding:15px;padding-left:55px;width:95%;border:1px solid #f5f5f5;
  color:gray;
  background-color: rgb(239,239,239);
  background-image:url('http://i47.tinypic.com/r02vbq.png');
  background-repeat:no-repeat;
  background-position:left center;outline:0;
}
