.pin-item-container {
  display: block;
  float: left;
  width: 248px;
  height: auto;
  padding: 10px;
  border: 1px 1px 1px 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  /*float: left;
	width: 235px;
	margin-bottom: 13px;
	border-radius: 10px;
	background-color: #fff;
	color: #333333;
	font-size: 10px;
	box-shadow: 0 1px 2px #999999;
	opacity: 1;*/
}

.pin-item-container:hover {
  background-color: rgb(242,242,242);
}

.pin-item-container:hover .edit-board-button {
  display: inline;
}
.pin-item-container .picture-block {
  display: block;
  content: "";
  cursor: pointer;
  width: 100%;
  height: auto;
}

.pin-item-container .pin-picture {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.pin-item-container .detail-block {
  width: 100%;
  display: block;
  float: left;
}

.pin-item-container .pin-title {
  display: block;
  margin: 15px 0 15px 0;
  float:left;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  text-align: left;
}

.pin-item-container .profile-pic{
  margin: 5px 5px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.pin-item-container .url-block {
  display: inline-block;
  color: rgb(85,85,85);
  text-align: left;
  padding-bottom: 5px;
}
.pin-item-container .board-title {
  font-weight: bold;
  font-size: 16px;
}
.pin-item-container .pin-url {

}

.pin-item-container .edit-board-button:hover {
  background-color: rgb(204,204,204);
}

.pin-item-container .edit-board-button {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
