.all-board-container {
  text-align: center;
}

.new-board-item {
  position: relative;
  display: block;
  float: left;
  width: 236px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  content: "";
  background-color: #eee;
  vertical-align: middle;
  height: 300px;
  background-color: rgb(230,230,230);
  cursor: pointer;
}
.new-board-item:hover {
  background-color: rgb(204,204,204);
}

.create-a-board {
  color: rgb(194,194,194);
  position: absolute;
  top: 50%;
  left: 30%;
}

.new-board-item:hover .create-a-board {
  color: rgb(115,115,115);
}

.plus-sign-at-board {
  position: absolute;
  left: 45%;
  top: 40%;
  width: 30px;
  height: 30px;
}
