.all-board-container {
  text-align: center;
}

.new-board-item {
  position: relative;
  display: block;
  float: left;
  width: 236px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  content: "";
  background-color: #eee;
  vertical-align: middle;
  height: 300px;
  background-color: rgb(230,230,230);
  cursor: pointer;
}
.new-board-item:hover {
  background-color: rgb(242,242,242);
}

.plus-sign-at-board {
  position: absolute;
  left: 45%;
  top: 40%;
  width: 30px;
  height: 30px;
}
