.all-follower-container {
  display: flex;
}

.all-follower-container .user-picture {
  float: right;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  cursor: pointer;
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.8);
}
