.user-container {
  display: block;
  margin: 50px 0 0 50px;
  width: 100%;
}
.user-container .user-profile {
  display: block;
  width: 100%;
  font-size: 50px;
  color: rgb(74,74,74);
}

.user-profile .username{
  font-size: 50px;
  padding-bottom: 20px;
}
.user-container .empty {
  content: "";
  display: block;
}
.user-profile .user-description {
  font-size: 20px;
  max-width: 70%;
}

.user-container .profile-picture {
  position: absolute;
  top: 50px;
  right: 50px;
  float: right;
  margin: 50px 0 0 0;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.8);
}

.user-container .follow-button {
  position: absolute;
  top: 240px;
  right: 70px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.user-container .unfollowed {
  background-color: red;

}

.user-container .following {
  background-color: rgb(0, 255, 0);

}

.user-container .summary-container {
  display: flex;
  width: 100%;
  margin-left: 30%;
}

.user-container .summary-container .summary .checked {
  background-color: rgb(242,242,242);
}

.user-container .summary-container .summary .unchecked {
  background-color: inherit;
}

.text-container {
  padding: 5px;
  border-radius: 4px;
  width: 70px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.text-container:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.text-container:hover:before, .text-container:focus:before, .text-container:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.user-container .summary-container .summary .text-container {
  display: block;
  float: left;
  height: auto;
  list-style: none;
  margin: 50px 10px;
  color: #555;
  /*color: rgb(234,234,234);*/
}

.user-container .summary-container .summary .text-container .number {
  font-size: 20px;
  font-weight: bold;
}

.user-container .detail-container {
  display: block;
  float: left;
}
